html {
  background-color:#F8F8F8;
  font: Helvetica, sans-serif
}
.App {
  margin: auto;
}

.navContainer {
  background: #ffa500;
  height: 50px;
  margin-bottom: 25px;
}

.nav {
  width: 800px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: auto;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: white;
  margin-top: 5px;
}

.homeContainer {
  margin: auto;
  border-radius: 20px;
  box-shadow:1px 1px 20px 1px #E8E8E8;  

  width: 800px;
  height: 1000px;
  background-color: white;
}