.App {
  margin: auto;
  background-color:#F5F5F5;
}

.navContainer {
  background: #ffa500;
  height: 50px;
  margin-bottom: 25px;
}

.nav {
  width: 800px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: auto;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: white;
  margin-top: 5px;
}
