.cardContainer {
  width: 800px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
}


.exitContainer {
  padding-top: 15px;
  padding-right: 20px;
  text-align: right;
}
  
.exit {
  text-decoration: none;
}
